<div class="header">
  <div class="logo">
    <img src="/assets/img/logo.svg" alt="">
    <div class="title"><span>Карта</span>капитана</div>
    <p>все квесты в реальности</p>
  </div>
  <nav>
    <ul>
      <li>{{#link-to "questrooms.index" class="nav-link" }} <span>Мои квесты</span>  {{/link-to}}</li>
      <li>{{#link-to "orders.index" class="nav-link" }} <span>Записи</span> {{/link-to}}</li>
      <li>{{#link-to "discount.index" class="nav-link" }} <span>Дисконтные карты</span> {{/link-to}}</li>
      <li>{{#link-to "profile.index" class="nav-link" }} <span>Профиль</span> {{/link-to}}</li>
    </ul>
  </nav>
  <div class="balance">Баланс: <span>3000 Р</span></div>
  <input class="exit" type="button" value="Выход">
  {{!-- <img src="/assets/img/logo.svg" alt=""> --}}
</div>