<div class="namePage">Редактирование квеста</div>
<div class="form">
  <div class="form_column">
    {{!-- {{input value=title class="quest_name"}} --}}
    {{bootstrap/form-control label="Название квеста" value=title}}
    <div class="form-row">
      {{bootstrap/form-select class="form-select col-md-6" label="Тип квеста" value=type options=questroomTypes}}
      {{bootstrap/form-select class="form-select col-md-6" label="Сложность" value=level options=questroomLevel}}
      {{bootstrap/form-select class="form-select col-md-6" label="Уровень страха" value=fear options=questroomFear}}
      <div class="time col-md-6 row">
        {{bootstrap/form-control class="col-md-9" label="Время прохождения" value=time}}
        <div class="timeMin col-md-3"><span>мин</span></div> 
      </div>
    </div>
    <div class="form-group">
      {{bootstrap/form-control label="Адрес" value=address}}
    </div>
    <div class="form-group">
      {{bootstrap/form-control label="Телефон" value=phone}}
    </div>
  </div>
  <div class="form_column">
    <div class="form-row">
      {{bootstrap/form-control class="col-md-6" label="Кол-во игроков" value=players}}
      <div class="age col-md-6 row">
        <div class="ageFrom col-md-3"><span>от</span></div>
        {{bootstrap/form-control class="col-md-9" label="Возраст" value=age}}
      </div>
    </div>
    <div class="form-group">
      {{bootstrap/form-control label="Короткое описание" value=description}}
    </div>
    <div class="form-group">
      {{bootstrap/form-control label="Легенда" value=legend}}
    </div>
    <div class="form-group">
      {{bootstrap/form-control label="Полное описание" value=full-description}}
    </div>
    <button type="submit" class="btn btn-primary">Добавить фото</button>
    <div class="save">
      <button type="submit" class="btn btn-primary">Отменить</button>
      <button type="submit" class="btn btn-primary">Сохранить</button>
    </div>
  </div>
</div>
