<div class="questrooms">
  <div class="namePage">Мои квесты</div>
  <div class="my-quests">
    {{#each model as |q|}}
      {{#link-to "questrooms.edit" class="quest"}} 
        <img src="/assets/img/quest1.png" alt="">
        {{q.title}}
      {{/link-to}} 
    {{/each}}
    {{#link-to "questrooms.new" class="quest"}}
      <img src="/assets/img/new_quest.png" alt="">
      Новый квест 
    {{/link-to}} 
  </div>
</div>