/*basic*/
$orangeColor: #FFC400;
$silverColor: #5F717C;
$greyColor: #3C495B;
$bgColor: #F8F8F8;
$mainColor: #F5F7F8;
$borderColor: #D9E0EA;
$labelColor: #909090;
*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}
html, body{
  height: 100%;
}
body{
  background: $mainColor;
}
main{
  padding-top: 20px;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
.namePage{
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.container{
  min-width: 1440px;
}
