.form{
  display: flex;
  justify-content: space-around;
  background: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  width: 1354px;
  height: 825px;
}
.form_column{
  width: 600px;

}
.form-group{
  font-size: 14px;
  font-weight: 400;
  color: $labelColor;
  margin-bottom: 40px;
}
.form-control{
  border: 0px;
  border-radius: 0px;
  border-bottom: 1px solid $borderColor;
  &:hover,&:active, &:focus{
    outline: none;
    box-shadow: none;
    border-bottom: 1px solid $orangeColor;
  }
}
.ember-power-select-search-input{
  outline: none;  
  box-shadow: none;
  &:hover,&:active, &:focus{
    outline: none;
    box-shadow: none;
  }
}
.time{
  padding-left: 0;
  margin-left: 5px;
  max-width: 294px;
  height: 66px;
  border-bottom: 1px solid $borderColor;
  label{
    margin-left: -5px;
    margin-bottom: 15px;
  }
  &:hover,&:active, &:focus{
    border-bottom: 1px solid $orangeColor;  
  }
  .form-control{
    border: 0px;
    margin-left: -25px;
    height: 20px;
  }
}
.timeMin{
  padding-top: 35px;
  span{
    font-size: 16px;
    color: $greyColor;
    padding-left: 20px;
    border-left: 1px solid $borderColor;
  }
}

.age{
  margin-left: 5px;
  max-width: 294px;
  height: 66px;
  border-bottom: 1px solid $borderColor;
  label{
    margin-left: -90px;
    margin-bottom: 15px;
  }
  &:hover,&:active, &:focus{
    border-bottom: 1px solid $orangeColor;  
  }
  .form-control{
    border: 0px;
    margin-left: -30px;
    height: 20px;
  }
}
.ageFrom{
  padding-top: 35px;
  span{
    font-size: 16px;
    color: $greyColor;
    padding-right: 20px;
    border-right: 1px solid $borderColor;
  }
}


// .number{
//   margin-left: 5px;
//   max-width: 294px;
//   height: 66px;
//   border-bottom: 1px solid $borderColor;
//   label{
//     margin-left: -5px;
//     margin-bottom: 15px;
//   }
//   &:hover,&:active, &:focus{
//     border-bottom: 1px solid $orangeColor;  
//   }
//   .form-control{
//     border: 0px;
//     height: 20px;
//   }
// }
// .numberFrom{
//   padding-top: 35px;
//   span{
//     font-size: 16px;
//     color: $greyColor;
//     padding-right: 20px;
//     border-right: 1px solid $borderColor;
//   }
// }
// .numberTo{
//   padding-top: 35px;
//   span{
//     font-size: 16px;
//     color: $greyColor;
//     padding-right: 20px;
//     border-right: 1px solid $borderColor;
//   }
// }



.form-group .ember-power-select-trigger{
  padding-top: 10px;
  border: 0px;
  height: 46px;
  border-bottom: 1px solid $borderColor;
  border-radius: 0px;

  &:hover, &:focus, &:active{
    border: 0px;
    border-bottom: 1px solid $orangeColor;
    outline: none;
    box-shadow: none;
  }
}
.ember-power-select-option[aria-current=true] {
  background: $orangeColor !important;
  color: #ffffff;
}
.form .btn{
  margin-top: 26px;
  padding: 10px 20px;
  padding-left: 40px;
  font-size: 14px;
  font-weight: 700;
  background: url("/assets/img/plus.svg") 15px 13px no-repeat;
  color: $greyColor;
  border: 1px solid $orangeColor;
  border-radius: 5px;
  &:hover, &:focus, &:active{
    background: url("/assets/img/plus.svg") 15px 13px no-repeat;    
    color: $greyColor;
    box-shadow: none;
    border: 1px solid $orangeColor;
  }
}
.save{
  text-align: right;
  padding-top: 175px;
  .btn{
    background: #fff;
    padding: 15px 40px;
    &:first-child{
      border: 1px solid #B1BDC5;
      color: #B1BDC5;
      margin-right: 35px;
    }
    &:hover, &:focus, &:active{
      background: #fff;      
    }
  }
}