header{
  background: #fff;
}
.header{
  display: flex;
  padding: 20px 0;
  
}
/*logo*/
.logo{
  color: black;
  min-width: 223px;
  margin-right: 176px;
  img{
    float: left;
    margin-right: 20px;
  }
  .title{
    display: flex;
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    span{
      color: $orangeColor;
    }
  }
  p{
    margin-top: -6px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: 400;
    letter-spacing:.4px;
  }
}
/*nav*/
nav{
  width: 520px;
  padding-top: 10px;
  margin-right: 110px;
  ul{
    display: flex;
    justify-content: space-between;
    li{
      margin-right: 5px;
    }

  }
}
.nav-link{
  color: $silverColor;
  font-size: 14px;
  font-weight: 400;
  padding: 0;
  &:hover{
    color: $silverColor;
  }
}
.active{
  font-weight: 700;
  span{
    padding-bottom: 29px;
    border-bottom: 3px solid $orangeColor;
  }
}
/*balance*/
.balance{
  width: 160px;
  height: 40px;
  background: $bgColor;
  border-radius: 5px;
  padding: 10px 18px;
  margin-right: 20px;
  font-size: 14px;
  font-weight: 400;
  span{
    font-weight: 700;
    color: $greyColor;
  }
}
/*exit*/
.exit{
  height: 40px;
  background: #fff;
  color: $greyColor;
  padding-left: 30px;
  padding-right: 60px;
  border: 1px solid $orangeColor;
  border-radius: 5px;
  background: url("/assets/img/exit.svg") no-repeat 100px 10px;
  outline: none;
}