/*quests*/
.my-quests{
  display: flex;
  flex-wrap: wrap;
}
.quest{
  font-size: 16px;
  display: block;
  width: 290px;
  height: 340px;
  color: black;
  background: #fff;
  text-align: center;
  margin-right: 65px;
  margin-bottom: 15px;
  border-radius: 5px;
  &:last-child{
    margin-right: 0;
    &:hover{
      background: white;
      color: black;
      padding-top: 0;
      img{
        display: inline;
      }
    }
  }
  &:hover{
    background: url('/assets/img/edit.png');
    img{
      display: none;
    }
    padding-top: 280px;
    color: #fff;
    text-decoration: none;
  }
  img{
    margin: 20px;
    margin-bottom: 25px;
    width: 240px;
    height: 240px;
  }
}